* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

aside {
    width: 360px;
    position: relative;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 16px black;
    float: right;
    margin-left: 8px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 32px;
    border-top: 1px solid green;
    text-align: center;
}

nav {
    background-color: lightblue;
    padding: 4px;
}

nav a {
    color: black;
    padding: 4px;
    display: block;
}

h1 {
    color: black;
}

h2 {
    position: absolute;
    color: white;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: lightgrey;
    color: black;
    border: 1px solid green;
}